<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:context="http://www.springframework.org/schema/context"
   xmlns:mybatis-spring="http://www.mybatis.org/schema/mybatis-spring"
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context-4.3.xsd
      http://www.mybatis.org/schema/mybatis-spring http://www.mybatis.org/schema/mybatis-spring/mybatis-spring-1.3.xsd">
      
	<context:component-scan base-package="totreviews" />      
	
    <!-- DataSource Bean -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	    <property name="driverClassName" value="${db.driverClass}" />
	    <property name="url" value="${db.url}" />
	    <property name="username" value="${db.username}" />
	    <property name="password" value="${db.password}" />
	</bean>

    <!-- SqlSessionFactory Bean -->
   <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:conf/spring/mybatis-config.xml"/>
    </bean>
    
    <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
    	<constructor-arg name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

    <!-- MapperScannerConfigurer -->
   <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    	<property name="location" value="classpath:/props/db.properties" />
	</bean>    

</beans>
