<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD MyBatis Configuration 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    
    <properties resource="props/db.properties" />
    
    <settings>
        <setting name="jdbcTypeForNull" value="VARCHAR"/>
    </settings>  
    
    <typeAliases>
    	<typeAlias alias="TReviewDTO" type="totreviews.domain.TReviewDTO"/>
    </typeAliases>
    
    <mappers>
        <mapper resource="conf/mapper/TReviewMapper.xml"/>
    </mappers>
    
</configuration>
