<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tot.mapper.AdminCommentMapper">

	<select id="getCommentsByReviewId" parameterType="int" resultMap="CommentVOMap">
		SELECT
            TREVCID,
            TREVID,
            TOPPARENTID,
            PARENTID,
            PARENTNICKNAME,
            MEMID,
            MEMNICK,
            COMMENTSTATUS,
            TREVCTEXT,
            TREVDEPTH,
            TREVCREGDATE,
            TREVDUPDATE
		FROM
		    TREVIEWCOMMENT
		WHERE
		    TREVID = #{trevId}
		START WITH
		    TREVCID = TOPPARENTID      
		CONNECT BY
		    PRIOR TREVCID = PARENTID    
		ORDER SIBLINGS BY
		    TREVCREGDATE ASC     
    </select>
    
    <select id="findInactiveParentComments" resultType="string">
	    SELECT COMMENTSTATUS
	    FROM TREVIEWCOMMENT
	    WHERE TREVCID IN (
	        SELECT PARENTID
	        FROM TREVIEWCOMMENT
	        START WITH TREVCID IN
	        <foreach item="trevcId" collection="list" open="(" separator="," close=")">
	            #{trevcId}
	        </foreach>
	        CONNECT BY PRIOR PARENTID = TREVCID
	    )
	    AND COMMENTSTATUS IN('CMT002', 'CMT004')
	</select>

	<update id="updateCommentStatus">
		UPDATE TREVIEWCOMMENT
    	<set> 
    		<if test="status == 'active'">
	            COMMENTSTATUS = 'CMT001',
	        </if>
	        <if test="status == 'deactive'">
	            COMMENTSTATUS = 'CMT004',
	        </if>
        </set>
		WHERE TREVCID IN (
	        SELECT TREVCID
	        FROM (
	            SELECT TREVCID
	            FROM TREVIEWCOMMENT
	            START WITH TREVCID IN
	            <foreach item="trevcId" collection="trevcIds" open="(" separator="," close=")">
	                #{trevcId}
	            </foreach>
	            CONNECT BY PRIOR TREVCID = PARENTID
	        )
	    )
	</update>
	
	<select id="selectTotalCommentCount" parameterType="PageDTO"
		resultType="int">
		SELECT COUNT(DISTINCT c.TREVCID) AS total_count
	    FROM TREVIEWCOMMENT c
	    WHERE 1=1
	    
	    <choose>
			<when test="boardId == 1">
				AND c.COMMENTSTATUS IN ('CMT001', 'CMT003', 'CMT005')
			</when>
			<when test="boardId == 2">
				AND c.COMMENTSTATUS IN ('CMT002', 'CMT004')
			</when>
		</choose>

		<if test="dto.search != null and dto.search != ''">
			<choose>
				<when test="dto.searchType.name() == 'CONTENT'">
					AND c.TREVCTEXT LIKE '%' || #{dto.search} || '%'
				</when>
				<when test="dto.searchType.name() == 'POST'">
					AND c.TREVID = #{dto.search}
				</when>
				<when test="dto.searchType.name() == 'MEMBER'">
					AND c.MEMNICK LIKE '%' || #{dto.search} || '%'
				</when>
				<when test="dto.searchType.name() == 'ALL'">
					AND (c.TREVCTEXT LIKE '%' || #{dto.search} || '%'
					OR c.TREVID LIKE '%' || #{dto.search} || '%'
					OR c.MEMNICK LIKE '%' || #{dto.search} || '%')
				</when>
			</choose>
		</if>
	</select>
	
	<select id="selectCommentListWithPaging" parameterType="PageDTO" resultMap="CommentVOMap">
	    SELECT *
	    FROM (
	        SELECT 
	        	c.TREVCID,
	        	c.TREVID,
	        	c.TOPPARENTID, 
	        	c.PARENTID, 
	        	c.PARENTNICKNAME, 
	        	c.MEMID, 
	        	c.MEMNICK, 
	        	c.TREVCTEXT, 
	        	c.TREVDEPTH, 
	        	c.COMMENTSTATUS, 
	        	c.TREVCREGDATE, 
	        	c.TREVDUPDATE, 
	            ROW_NUMBER() OVER(
                   ORDER BY 
                   <choose>
	                   <when test="dto.sortType.name() == 'LATEST'">c.TREVCREGDATE DESC</when>
	                   <when test="dto.sortType.name() == 'OLDEST'">c.TREVCREGDATE ASC</when>
	                   <otherwise>c.TREVCREGDATE DESC</otherwise>
                   </choose>
               ) AS rn
	        FROM TREVIEWCOMMENT c
	        WHERE 1=1
	        
	        <choose>
				<when test="boardId == 1">
					AND c.COMMENTSTATUS IN ('CMT001', 'CMT003', 'CMT005')
				</when>
				<when test="boardId == 2">
					AND c.COMMENTSTATUS IN ('CMT002', 'CMT004')
				</when>
			</choose>
	        
	        <if test="dto.search != null and dto.search != ''">
	            <choose>
	                <when test="dto.searchType.name() == 'CONTENT'">
	                    AND c.TREVCTEXT LIKE '%' || #{dto.search} || '%'
	                </when>
	                <when test="dto.searchType.name() == 'POST'">
	                    AND c.TREVID = #{dto.search}
	                </when>
	                <when test="dto.searchType.name() == 'MEMBER'">
	                    AND c.MEMNICK LIKE '%' || #{dto.search} || '%'
	                </when>
	                <when test="dto.searchType.name() == 'ALL'">
	                    AND (c.TREVCTEXT LIKE '%' || #{dto.search} || '%'
	                    OR c.MEMNICK LIKE '%' || #{dto.search} || '%')
	                </when>
	            </choose>
	        </if>
	    ) c
	    WHERE rn BETWEEN #{offset} + 1 AND #{offset} + #{pageRowCount}
	</select>
	
	<resultMap id="CommentVOMap" type="CommentVO">
        <id property="commentId" column="TREVCID"/>
        <result property="postId" column="TREVID"/>
        <result property="topParentId" column="TOPPARENTID"/>
        <result property="parentId" column="PARENTID"/>
        <result property="parentNickname" column="PARENTNICKNAME"/>
        <result property="memId" column="MEMID"/> 
        <result property="memNick" column="MEMNICK"/>
        <result property="content" column="TREVCTEXT"/>
        <result property="depth" column="TREVDEPTH"/>
        <result property="status" column="COMMENTSTATUS"/>          
        <result property="regDate" column="TREVCREGDATE"/>    
        <result property="update" column="TREVDUPDATE"/>      
    </resultMap>

</mapper>
