<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tot.mapper.AdminTReviewMapper">

	<select id="selectTotalTReviewCount" parameterType="PageDTO" resultType="int">
	    SELECT COUNT(DISTINCT r.TREVID) AS total_count
	    FROM TREVIEW r
	    WHERE 1=1
	    
	    <choose>
			<when test="boardId == 1">
				AND r.TREVSTATUS IN ('CMT001', 'CMT003', 'CMT005')
			</when>
			<when test="boardId == 2">
				AND r.TREVSTATUS IN ('CMT002', 'CMT004')
			</when>
		</choose>
	    
	    <if test="dto.search != null and dto.search != ''">
	        <choose>
	            <when test="dto.searchType.name() == 'TITLE'">
	                AND r.TREVTITLE LIKE '%' || #{dto.search} || '%'
	            </when>
	            <when test="dto.searchType.name() == 'CONTENT'">
	                AND r.TREVCONTENT LIKE '%' || #{dto.search} || '%'
	            </when>
	            <when test="dto.searchType.name() == 'ALL'">
	                AND (r.TREVTITLE LIKE '%' || #{dto.search} || '%'
	                    OR r.TREVCONTENT LIKE '%' || #{dto.search} || '%')
	            </when>
	        </choose>
	    </if>
	</select>

	<select id="selectTReviewListWithPaging" parameterType="PageDTO" resultMap="TReviewResDTOResultMap">
	    SELECT *
	    FROM (
	        SELECT r.TREVID, r.TRIPID, r.MEMID, r.TREVSTATUS, r.TREVTITLE, r.TREVCONTENT,
	               r.TREVRATING, r.TREVREGDATE, r.TREVUPDATE, r.TREVCOUNT,
	               ROW_NUMBER() OVER (
	                   ORDER BY 
	                   <choose>
	                       <when test="dto.sortType.name() == 'LATEST'">r.TREVREGDATE DESC</when>
	                       <when test="dto.sortType.name() == 'OLDEST'">r.TREVREGDATE ASC</when>
	                       <when test="dto.sortType.name() == 'VIEWS'">r.TREVCOUNT DESC</when>
	                       <when test="dto.sortType.name() == 'RATING'">r.TREVRATING DESC</when>
	                       <otherwise>r.TREVREGDATE DESC</otherwise>
	                   </choose>
	               ) AS rn
	        FROM TREVIEW r
	        WHERE 1=1
	        
	        <choose>
				<when test="boardId == 1">
					AND r.TREVSTATUS IN ('CMT001', 'CMT003', 'CMT005')
				</when>
				<when test="boardId == 2">
					AND r.TREVSTATUS IN ('CMT002', 'CMT004')
				</when>
			</choose>
	        
	        <if test="dto.search != null and dto.search != ''">
	            <choose>
	                <when test="dto.searchType.name() == 'TITLE'">
	                    AND r.TREVTITLE LIKE '%' || #{dto.search} || '%'
	                </when>
	                <when test="dto.searchType.name() == 'CONTENT'">
	                    AND r.TREVCONTENT LIKE '%' || #{dto.search} || '%'
	                </when>
	                <when test="dto.searchType.name() == 'ALL'">
	                    AND (r.TREVTITLE LIKE '%' || #{dto.search} || '%'
	                        OR r.TREVCONTENT LIKE '%' || #{dto.search} || '%')
	                </when>
	            </choose>
	        </if>
	    ) r
	    LEFT JOIN TReviewImage i ON r.TREVID = i.TREVID
	    WHERE r.rn BETWEEN #{offset} + 1 AND #{offset} + #{pageRowCount}
	    ORDER BY 
	    <choose>
	        <when test="dto.sortType.name() == 'LATEST'">r.TREVREGDATE DESC</when>
	        <when test="dto.sortType.name() == 'OLDEST'">r.TREVREGDATE ASC</when>
	        <when test="dto.sortType.name() == 'VIEWS'">r.TREVCOUNT DESC</when>
	        <when test="dto.sortType.name() == 'RATING'">r.TREVRATING DESC</when>
	        <otherwise>r.TREVREGDATE DESC</otherwise>
	    </choose>
	</select>
	
	<update id="updateTReviewStatus">
		UPDATE TREVIEW
		<set>
	        <if test="status == 'active'">
	            TREVSTATUS = 'CMT001'
	        </if>
	        <if test="status == 'deactive'">
	            TREVSTATUS = 'CMT004'
	        </if>
	    </set>
		WHERE TREVID IN 
	    <foreach item="trevId" collection="trevIds" open="(" separator="," close=")">
	        #{trevId}
	    </foreach>
	</update>
	
	<select id="getTReviewById" parameterType="int" resultMap="TReviewResDTOResultMap">
		SELECT
            r.TREVID,
            r.TRIPID,
            r.MEMID,
            r.TREVSTATUS,
            r.TREVTITLE,
            r.TREVCONTENT,
            r.TREVRATING,
            r.TREVREGDATE,
            r.TREVUPDATE,
            r.TREVCOUNT,
            i.TREVIMGID,
            i.TREVIMGPATH
        FROM
            TREVIEW r
        LEFT JOIN
            TReviewImage i ON r.TREVID = i.TREVID
        WHERE
            r.TREVID = #{trevId}
	</select>

	<resultMap id="TReviewResDTOResultMap" type="TReviewResDTO">
		<id property="trevId" column="TREVID" />
		<result property="tripId" column="TRIPID" />
		<result property="memId" column="MEMID" />
		<result property="trevStatus" column="TREVSTATUS" />
		<result property="trevTitle" column="TREVTITLE" />
		<result property="trevCourse" column="TREVCOURSE" />
		<result property="trevContent" column="TREVCONTENT" />
		<result property="trevRating" column="TREVRATING" />
		<result property="trevRegdate" column="TREVREGDATE" />
		<result property="trevUpdate" column="TREVUPDATE" />
		<result property="trevCount" column="TREVCOUNT" />
		<collection property="trevImages" ofType="TReviewImageVO">
            <id property="trevImgId" column="TREVIMGID"/>
            <result property="trevId" column="TREVID"/>
            <result property="memId" column="MEMID"/>
            <result property="trevImgpath" column="TREVIMGPATH"/>
      	    <result property="trevImgRegdate" column="TREVIMGREGDATE" />
        	<result property="trevImgUpdate" column="TREVIMGUPDATE" />
        </collection>
	</resultMap>

</mapper>
