<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tot.dao.HistoryDao">

    <insert id="insertTReviewHistory">
        INSERT INTO HISTORY (HISTORYID, TREVID, MEMID, MEMNICK, ACTION, CONTENT, ACTIONDATE, STATUS)
        VALUES (SEQ_HISTORYID.NEXTVAL, #{trevId}, #{memId}, #{memNick}, #{action}, #{content}, CURRENT_TIMESTAMP, #{status})
    </insert>
    
    <insert id="insertCommentHistory">
        INSERT INTO HISTORY (HISTORYID, TREVCID, MEMID, MEMNICK, ACTION, CONTENT, ACTIONDATE, STATUS)
        VALUES (SEQ_HISTORYID.NEXTVAL, #{trevcId}, #{memId}, #{memNick}, #{action}, #{content}, CURRENT_TIMESTAMP, #{status})
    </insert>
    
    <select id="getTReviewHistorysById" parameterType="int" resultMap="HistoryVOMap">
		SELECT
		        HISTORYID,
		        TREVID,
		        TREVCID,
		        MEMID,
		        MEMNICK,
		        ACTION,
		        ACTIONDATE,
		        CONTENT,
		        STATUS
	    FROM HISTORY
	    WHERE TREVID = #{trevId}
	    ORDER BY ACTIONDATE DESC
    </select>
    
    
    <resultMap id="HistoryVOMap" type="HistoryVO">
	    <id column="historyId" property="historyId" />
	    <result column="trevId" property="trevId" />
	    <result column="trevcId" property="trevcId" />
	    <result column="memId" property="memId" />
	    <result column="memNick" property="memNick" />
	    <result column="action" property="action" />
	    <result column="actionDate" property="actionDate" />
	    <result column="content" property="content" />
	    <result column="status" property="status" />
	</resultMap>
    
</mapper>
