<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tot.mapper.TReviewMapper">

	<insert id="insertTReview" parameterType="TReviewVO"
		useGeneratedKeys="true" keyProperty="trevId">
		<selectKey keyProperty="trevId" resultType="int"
			order="BEFORE">
			SELECT seq_trevId.nextval FROM dual
		</selectKey>
		INSERT INTO TREVIEW (TREVID, TRIPID, MEMID, TREVSTATUS, TREVTITLE,
		TREVCONTENT, TREVRATING, TREVREGDATE, TREVUPDATE, TREVCOUNT)
		VALUES (#{trevId}, #{tripId}, #{memId}, #{trevStatus}, #{trevTitle}, #{trevContent},
		#{trevRating}, #{trevRegdate}, #{trevUpdate}, #{trevCount})
	</insert>
	
	<update id="editTReview" parameterType="TReviewVO">
        UPDATE TREVIEW
        SET 
            TRIPID = #{tripId},
            MEMID = #{memId},
            TREVSTATUS = #{trevStatus},
            TREVTITLE = #{trevTitle},
            TREVCONTENT = #{trevContent},
            TREVRATING = #{trevRating},
            TREVREGDATE = #{trevRegdate},
            TREVUPDATE = sysdate,
            TREVCOUNT = #{trevCount}
        WHERE TREVID = #{trevId}
    </update>

	<insert id="insertTReviewImage" parameterType="TReviewImageVO">
		INSERT INTO TREVIEWIMAGE (TREVIMGID, TREVID, MEMID, TREVIMGPATH,
		TREVIMGREGDATE, TREVIMGUPDATE)
		VALUES (seq_trevImgId.nextval, #{trevId}, #{memId}, #{trevImgpath},
		#{trevImgRegdate}, #{trevImgUpdate})
	</insert>

	<delete id="deleteTReviewImages" parameterType="int">
        DELETE FROM TReviewImage WHERE TREVID = #{trevId}
    </delete>

	<select id="selectTotalTReviewCount" parameterType="PageDTO"
		resultType="int">
		SELECT COUNT(DISTINCT r.TREVID) AS total_count
		FROM TREVIEW r
		LEFT JOIN
		TReviewImage i
		ON r.TREVID = i.TREVID
		WHERE r.TREVSTATUS IN ('CMT001', 'CMT003')

		<choose>
			<when test="boardId == 'all'">
			</when>
			<when test="boardId == 'my'">
				AND r.MEMID = #{memId}
			</when>
		</choose>

		<if test="dto.search != null and dto.search != ''">
			<choose>
				<when test="dto.searchType.name() == 'TITLE'">
					AND r.TREVTITLE LIKE '%' || #{dto.search} || '%'
				</when>
				<when test="dto.searchType.name() == 'CONTENT'">
					AND r.TREVCONTENT LIKE '%' || #{dto.search} || '%'
				</when>
				<when test="dto.searchType.name() == 'ALL'">
					AND (r.TREVTITLE LIKE '%' || #{dto.search} || '%'
					OR r.TREVCONTENT LIKE '%' || #{dto.search} || '%')
				</when>
			</choose>
		</if>
	</select>

	<select id="selectTReviewListWithPaging" parameterType="PageDTO"
    resultMap="TReviewResDTOResultMap">
	    SELECT *
	    FROM (
	        SELECT r.TREVID, r.TRIPID, r.MEMID, r.TREVSTATUS, r.TREVTITLE, r.TREVCONTENT,
	               r.TREVRATING, r.TREVREGDATE, r.TREVUPDATE, r.TREVCOUNT,
	               ROW_NUMBER() OVER(
                   ORDER BY 
                   <choose>
                       <when test="dto.sortType.name() == 'LATEST'">r.TREVREGDATE DESC</when>
                       <when test="dto.sortType.name() == 'OLDEST'">r.TREVREGDATE ASC</when>
                       <when test="dto.sortType.name() == 'VIEWS'">r.TREVCOUNT DESC</when>
                       <when test="dto.sortType.name() == 'RATING'">r.TREVRATING DESC</when>
                       <otherwise>r.TREVREGDATE DESC</otherwise>
                   </choose>
               ) AS rn
	        FROM TREVIEW r
	        WHERE r.TREVSTATUS IN ('CMT001', 'CMT003')
	        
	        <choose>
	            <when test="boardId == 'all'">
	            </when>
	            <when test="boardId == 'my'">
	                AND r.MEMID = #{memId}
	            </when>
	        </choose>
	
	        <if test="dto.search != null and dto.search != ''">
	            <choose>
	                <when test="dto.searchType.name() == 'TITLE'">
	                    AND r.TREVTITLE LIKE '%' || #{dto.search} || '%'
	                </when>
	                <when test="dto.searchType.name() == 'CONTENT'">
	                    AND r.TREVCONTENT LIKE '%' || #{dto.search} || '%'
	                </when>
	                <when test="dto.searchType.name() == 'ALL'">
	                    AND (r.TREVTITLE LIKE '%' || #{dto.search} || '%'
	                    OR r.TREVCONTENT LIKE '%' || #{dto.search} || '%')
	                </when>
	            </choose>
	        </if>
	    ) r
	    LEFT JOIN TReviewImage i ON r.TREVID = i.TREVID
	    WHERE r.rn BETWEEN #{offset} + 1 AND #{offset} + #{pageRowCount}
	    ORDER BY 
        <choose>
            <when test="dto.sortType.name() == 'LATEST'">r.TREVREGDATE DESC</when>
            <when test="dto.sortType.name() == 'OLDEST'">r.TREVREGDATE ASC</when>
            <when test="dto.sortType.name() == 'VIEWS'">r.TREVCOUNT DESC</when>
            <when test="dto.sortType.name() == 'RATING'">r.TREVRATING DESC</when>
            <otherwise>r.TREVREGDATE DESC</otherwise>
        </choose>
	</select>
	
	<update id="incrementTReviewCount" parameterType="int">
	    UPDATE TREVIEW
	    SET TREVCOUNT = TREVCOUNT + 1
	    WHERE TREVID = #{trevId}
	</update>
	
	<select id="getTReviewById" parameterType="int" resultMap="TReviewResDTOResultMap">
		SELECT
            r.TREVID,
            r.TRIPID,
            r.MEMID,
            r.TREVSTATUS,
            r.TREVTITLE,
            r.TREVCONTENT,
            r.TREVRATING,
            r.TREVREGDATE,
            r.TREVUPDATE,
            r.TREVCOUNT,
            i.TREVIMGID,
            i.TREVIMGPATH
        FROM
            TREVIEW r
        LEFT JOIN
            TReviewImage i ON r.TREVID = i.TREVID
        WHERE
            r.TREVID = #{trevId}
	</select>
	
	<update id="deleteTReview" parameterType="int">
		UPDATE TREVIEW
		SET TREVSTATUS = 'CMT002', TREVUPDATE = CURRENT_TIMESTAMP
		WHERE TREVID = #{trevId}
	</update>
	
	<insert id="insertReportTReview" parameterType="ReportVO">
		INSERT INTO REPORT(
			REPORTID,
			REPORTERID,
			REPORTEDTREVID,
			REPORTEDCONTENTTYPE,
			REPORTREASON,
			REPORTDATE,
			REPORTSTATUS
		)
		VALUES(
			SEQ_REPORTID.NEXTVAL,
			#{reporterId},
			#{reportedTrevId},
			#{reportedContentType},
			#{reportReason},
			CURRENT_TIMESTAMP,
			#{reportStatus}
		)
	</insert>
	
	<update id="reportTReview" parameterType="int">
		UPDATE TREVIEW
		SET TREVSTATUS = 'CMT003'
		WHERE TREVID = #{trevId}
	</update>

	<resultMap id="TReviewResDTOResultMap" type="TReviewResDTO">
		<id property="trevId" column="TREVID" />
		<result property="tripId" column="TRIPID" />
		<result property="memId" column="MEMID" />
		<result property="trevStatus" column="TREVSTATUS" />
		<result property="trevTitle" column="TREVTITLE" />
		<result property="trevCourse" column="TREVCOURSE" />
		<result property="trevContent" column="TREVCONTENT" />
		<result property="trevRating" column="TREVRATING" />
		<result property="trevRegdate" column="TREVREGDATE" />
		<result property="trevUpdate" column="TREVUPDATE" />
		<result property="trevCount" column="TREVCOUNT" />
		<collection property="trevImages" ofType="TReviewImageVO">
            <id property="trevImgId" column="TREVIMGID"/>
            <result property="trevId" column="TREVID"/>
            <result property="memId" column="MEMID"/>
            <result property="trevImgpath" column="TREVIMGPATH"/>
      	    <result property="trevImgRegdate" column="TREVIMGREGDATE" />
        	<result property="trevImgUpdate" column="TREVIMGUPDATE" />
        </collection>
	</resultMap>

</mapper>
