<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tot.mapper.TripMapper">

	<select id="getTripByMemId" parameterType="String" resultMap="TripVOMap">
        SELECT TRIPID, MEMID, AREACODE, TRIPNAME, TRAMT, TRSTADATE, TRENDDATE, TRPERIOD, TRPEOPLE, TRIMGPATH
        FROM TRIP
        WHERE MEMID = #{memId}
    </select>
	
	<resultMap id="TripVOMap" type="TripVO">
        <id property="tripId" column="TRIPID" />
        <result property="memId" column="MEMID" />
        <result property="areaCode" column="AREACODE" />
        <result property="tripName" column="TRIPNAME" />
        <result property="trAmt" column="TRAMT" />
        <result property="trStaDate" column="TRSTADATE" />
        <result property="trEndDate" column="TRENDDATE" />
        <result property="trPeriod" column="TRPERIOD" />
        <result property="trPeople" column="TRPEOPLE" />
        <result property="trImgpath" column="TRIMGPATH" />
    </resultMap>

</mapper>
