.mainDiv {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 0;
    box-sizing: border-box;
}

/* 여행 후기 제목 */
.reviewTitleDiv {
	display: flex;
	align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.bigTitle {
    font-size: 24px;
    font-weight: bold;
    font-size: xx-large;
    flex: 1; /* 남은 공간을 차지하도록 */
    text-align: center; /* 가운데 정렬 */
}

/* 게시물 목록 관리 페이지 */
/* 게시물 관리 설명란 */
.reviewIntroDiv {
	margin-bottom: 50px;
	border: solid 1px #ccc;
	padding: 30px;
	text-align: start;
	background-color: lightgray;
}

/* 게시물 검색 및 활성화 목록 버튼 */
.searchAndWriteDiv {
	justify-content: center;
}

.activeButtonDiv {
	display: flex;
	justify-content: flex-end;
	margin-top: 10px;
}

/* 게시물 관리 테이블 */
/* 테이블 스타일 */
.adminTable {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: center;
}

.adminTable thead th {
    background-color: #f8f9fa;
    color: #333;
    font-weight: bold;
    padding: 12px;
    border-bottom: 2px solid #dee2e6;
}

.adminTable tbody td {
    padding: 10px;
    border-bottom: 1px solid #dee2e6;
    vertical-align: middle;
}

.adminTable tbody td a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.adminTable tbody td a:hover {
    text-decoration: underline;
}

.adminTable tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.adminTable tbody tr:hover {
    background-color: #e9ecef;
}

/* 댓글 테이블 */
.comment-table td {
    white-space: nowrap;
    overflow: hidden;  
    text-overflow: ellipsis; 
}

.comment-table td div {
    max-width: 200px;
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* 관리 버튼 스타일 */
.editButton, .deleteButton {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    margin-right: 5px;
    color: white !important;
    font-weight: normal !important;
}

.editButton {
    background-color: #28a745;
}

.editButton:hover {
    background-color: #218838;
}

.deleteButton {
    background-color: #dc3545;
}

.deleteButton:hover {
    background-color: #c82333;
}

/* 별점 스타일 */
.star {
    font-size: 20px;
    color: #ffc107;
}

/* 게시물 수정 관리 */
.reviewStatusDiv {
	display: flex;
	width: 100%;
}

/* 게시물 상세 관리 페이지 */
/* 뒤로가기 버튼 */
.backBtn {
    margin-right: auto; /* 버튼을 왼쪽으로 밀기 */
}

.backBtn button {
    background: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
    color: black;
}

/* 상세 정보 내역*/
.section {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

.uploadTRevImg {
    width: 100px;
    height: auto;
    margin: 5px;
    cursor: pointer;
}

/* 여행 코스 관리 내역 */
.reviewCourseDiv {
	display: flex;
	gap: 10px;
}

.reviewCourseDayDiv {
	width: 100%;
}

.reviewCourseImg {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

/* 후기 이미지 갤러리 내역 */
.image-gallery {
    display: flex;
    flex-wrap: wrap;
}

/* 모달창(이미지, 댓글내용) */
.modal {
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 25px;
    color: white;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

.close2 {
	position: absolute;
    top: 15px;
    right: 25px;
    color: black;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

