<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="totreviews.mapper.CommentMapper">

    <select id="getCommentsByReviewId" parameterType="int" resultMap="CommentVOMap">
    	SELECT
            TREVCID AS commentId,
            TREVID AS boardId,
            MEMNICK AS memnick,
            COMMENTSTATUS AS status,
            TREVCTITLE AS title,
            TREVCTEXT AS content,
            TREVCREGDATE AS regdate,
            TREVDUPDATE AS updates
        FROM 
        	TREVIEWCOMMENT
        WHERE 
        	TREVID = #{trevid}
    </select>
	
	<resultMap id="CommentVOMap" type="CommentVO">
        <id property="commentId" column="commentId"/>
        <result property="boardId" column="boardId"/>
        <result property="memnick" column="memnick"/>   
        <result property="status" column="status"/>      
        <result property="title" column="title"/>        
        <result property="content" column="content"/> 
        <result property="regdate" column="regdate"/>    
        <result property="update" column="update"/>      
    </resultMap>

</mapper>
