<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="totreviews.mapper.TReviewMapper">

	<insert id="insertTReview" parameterType="TReviewVO"
		useGeneratedKeys="true" keyProperty="trevid">
		<selectKey keyProperty="trevid" resultType="int"
			order="BEFORE">
			SELECT seq_trevid.nextval FROM dual
		</selectKey>
		INSERT INTO TREVIEW (TREVID, TRIPID, MEMID, TREVSTATUS, TREVTITLE,
		TREVCOURSE, TREVCONTENT, TREVRATING, TREVREGDATE, TREVUPDATE,
		TREVCOUNT)
		VALUES (#{trevid}, #{tripid}, #{memid}, #{trevstatus}, #{trevtitle},
		#{trevcourse}, #{trevcontent},
		#{trevrating}, #{trevregdate}, #{trevupdate}, #{trevcount})
	</insert>

	<insert id="insertTReviewImage" parameterType="TReviewImageVO">
		INSERT INTO TREVIEWIMAGE (TREVIMGID, TREVID, MEMID, TREVIMGPATH,
		TREVIMGREGDATE, TREVIMGUPDATE)
		VALUES (seq_trevimgid.nextval, #{trevid}, #{memid}, #{trevimgpath},
		#{trevimgregdate}, #{trevimgupdate})
	</insert>

	<select id="selectTotalTReviewCount" parameterType="PageDTO"
		resultType="int">
		SELECT COUNT(DISTINCT r.TREVID) AS total_count
		FROM TREVIEW r
		LEFT JOIN
		TReviewImage i
		ON r.TREVID = i.TREVID
		WHERE r.TREVSTATUS = 'CMT001'

		<choose>
			<when test="boardId == 'all'">
			</when>
			<when test="boardId == 'my'">
				AND r.MEMID = #{memId}
			</when>
		</choose>

		<if test="dto.search != null and dto.search != ''">
			<choose>
				<when test="dto.searchType.name() == 'TITLE'">
					AND r.TREVTITLE LIKE '%' || #{search} || '%'
				</when>
				<when test="dto.searchType.name() == 'CONTENT'">
					AND r.TREVCONTENT LIKE '%' || #{search} || '%'
				</when>
				<when test="dto.searchType.name() == 'ALL'">
					AND (r.TREVTITLE LIKE '%' || #{search} || '%'
					OR r.TREVCONTENT LIKE '%' || #{search} || '%')
				</when>
			</choose>
		</if>
	</select>

	<select id="selectTReviewListWithPaging" parameterType="PageDTO"
		resultMap="TReviewResDTOResultMap">
		SELECT * FROM (
		SELECT
		r.TREVID,
		r.TRIPID,
		r.MEMID,
		r.TREVSTATUS,
		r.TREVTITLE,
		r.TREVCOURSE,
		r.TREVCONTENT,
		i.TREVIMGPATH,
		r.TREVRATING,
		r.TREVREGDATE,
		r.TREVUPDATE,
		r.TREVCOUNT,
		ROW_NUMBER() OVER (
		<choose>
			<when test="dto.sortType.name() == 'LATEST'">ORDER BY r.TREVREGDATE DESC</when>
			<when test="dto.sortType.name() == 'OLDEST'">ORDER BY r.TREVREGDATE ASC</when>
			<when test="dto.sortType.name() == 'VIEWS'">ORDER BY r.TREVCOUNT DESC</when>
			<when test="dto.sortType.name() == 'RATING'">ORDER BY r.TREVRATING DESC</when>
			<otherwise>ORDER BY r.TREVREGDATE DESC</otherwise>
		</choose>
		) AS rn
		FROM TREVIEW r
		LEFT JOIN TReviewImage i ON r.TREVID = i.TREVID
		WHERE r.TREVSTATUS = 'CMT001'

		<choose>
			<when test="boardId == 'all'">
			</when>
			<when test="boardId == 'my'">
				AND r.MEMID = #{memId}
			</when>
		</choose>

		<if test="dto.search != null and dto.search != ''">
			<choose>
				<when test="dto.searchType.name() == 'TITLE'">
					AND r.TREVTITLE LIKE '%' || #{dto.search} || '%'
				</when>
				<when test="dto.searchType.name() == 'CONTENT'">
					AND r.TREVCONTENT LIKE '%' || #{dto.search} || '%'
				</when>
				<when test="dto.searchType.name() == 'ALL'">
					AND (r.TREVTITLE LIKE '%' || #{dto.search} || '%'
					OR r.TREVCONTENT LIKE '%' || #{dto.search} || '%')
				</when>
			</choose>
		</if>
		)
		WHERE rn BETWEEN #{offset} + 1 AND #{offset} + #{pageRowCount}
		ORDER BY rn
	</select>

	<resultMap id="TReviewResDTOResultMap" type="TReviewResDTO">
		<id property="trevid" column="TREVID" />
		<result property="tripid" column="TRIPID" />
		<result property="memid" column="MEMID" />
		<result property="trevstatus" column="TREVSTATUS" />
		<result property="trevtitle" column="TREVTITLE" />
		<result property="trevcourse" column="TREVCOURSE" />
		<result property="trevcontent" column="TREVCONTENT" />
		<result property="trevimgpath" column="TREVIMGPATH" />
		<result property="trevrating" column="TREVRATING" />
		<result property="trevregdate" column="TREVREGDATE" />
		<result property="trevupdate" column="TREVUPDATE" />
		<result property="trevcount" column="TREVCOUNT" />
	</resultMap>

</mapper>
